{% extends "base.html" %}
{% block content %}

        <div>
            <img src="https://images.pexels.com/photos/2074130/pexels-photo-2074130.jpeg" alt="coffe-shop"
                 id="main-image">

            <div class="container d-flex align-items-center justify-content-center position-relative" id="quote">
                <p>Life happens<br>Coffee helps</p>
            </div>
            <div class="container d-flex justify-content-between button-container">
                <a href="coffee" class="nav-item nav-link"><button class="btn btn-dark btn-dark-cust-main btn-dark-cust-main-coffee">Coffee</button>
                </a>
                <a href="sweets" class="nav-item nav-link"><button class="btn btn-dark btn-dark-cust-main btn-dark-cust-main-sweets">Sweets</button>
                </a>
                <a href="lemonade" class="nav-item nav-link"><button class="btn btn-dark btn-dark-cust-main btn-dark-cust-main-lemonade">Lemonade</button>
                </a>
            </div>
        </div>

{% endblock content %}